html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

img, #score, #roll {
    display: none;
}

button {
    height: 50px;
    width: 100px;
}
