html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#dice2, #dice3, #dice4, #dice5, #dice6 , p, #roll {
    display: none;
}

button {
    height: 50px;
    width: 100px;
}
